@font-face {
  font-family: "millerdisplayitalic";
  src: url("../fonts/miller_display_italic-webfont.woff2") format("woff2"),
    url("../fonts/miller_display_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratbold";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratExtraLight";
  src: url("../fonts/MontserratAlternates-ExtraLight.eot")
    format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
svg:not(:root) {
  overflow: hidden;
}
a:focus,
a:hover {
  text-decoration: none;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@-webkit-keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-moz-keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.lead {
  font-size: 24px;
  font-weight: 400;
}
.bg-EFEFEF {
  background: #efefef;
}
.bg-141414 {
  background: #141414;
}
.cbp-so-init .js-slideUp {
  /*opacity: 0;*/
}
.cbp-so-animate .slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.cbp-so-scroller {
  overflow: hidden;
}
.overflowH {
  overflow: hidden;
}
.m-t-b-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.roboto-family {
  font-family: "Roboto", sans-serif;
}
.width-80 {
  width: 80%;
  margin: 0 auto;
}
.font-24 {
  font-size: 24px;
}
.loading {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0px;
  top: 0px;
  overflow: hidden;
}
.loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-animation: loading-center-absolute 1s infinite;
  -moz-animation: loading-center-absolute 1s infinite;
  animation: loading-center-absolute 1s infinite;
}
.object {
  width: 20px;
  height: 20px;
  background-color: #589f9e;
  float: left;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.object:nth-child(2n + 0) {
  margin-right: 0px;
}
#object_one {
  -webkit-animation: object_one 1s infinite;
  -moz-animation: object_one 1s infinite;
  animation: object_one 1s infinite;
}
#object_two {
  -webkit-animation: object_two 1s infinite;
  -moz-animation: object_two 1s infinite;
  animation: object_two 1s infinite;
}
#object_three {
  -webkit-animation: object_three 1s infinite;
  -moz-animation: object_three 1s infinite;
  animation: object_three 1s infinite;
}
#object_four {
  -webkit-animation: object_four 1s infinite;
  -moz-animation: object_four 1s infinite;
  animation: object_four 1s infinite;
}

@-webkit-keyframes loading-center-absolute {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-center-absolute {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes object_one {
  50% {
    -ms-transform: translate(20px, 20px);
    -webkit-transform: translate(20px, 20px);
    -moz-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }
}
@keyframes object_one {
  50% {
    -ms-transform: translate(20px, 20px);
    -webkit-transform: translate(20px, 20px);
    -moz-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }
}

@-webkit-keyframes object_two {
  50% {
    -ms-transform: translate(-20px, 20px);
    -webkit-transform: translate(-20px, 20px);
    -moz-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }
}
@keyframes object_two {
  50% {
    -ms-transform: translate(-20px, 20px);
    -webkit-transform: translate(-20px, 20px);
    -moz-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }
}

@-webkit-keyframes object_three {
  50% {
    -ms-transform: translate(20px, -20px);
    -moz-transform: translate(20px, -20px);
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }
}
@keyframes object_three {
  50% {
    -ms-transform: translate(20px, -20px);
    -moz-transform: translate(20px, -20px);
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }
}

@-webkit-keyframes object_four {
  50% {
    -ms-transform: translate(-20px, -20px);
    -webkit-transform: translate(-20px, -20px);
    -moz-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
}
@keyframes object_four {
  50% {
    -ms-transform: translate(-20px, -20px);
    -moz-transform: translate(-20px, -20px);
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
}
body {
  /*background: #528794;*/
  background: #fff;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 90%;
  width: auto;
}
.header-logo img {
  max-width: 18rem;
  height: auto;
}

header {
  position: absolute;
  top: 10px;
  z-index: 91;
  left: 5%;
}
html.no-scroll {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #ffb510;
  outline: 1px solid slategrey;
}
main {
  height: 100%;
}
.hamburger {
  background: #589f9e;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  height: 50px;
  width: 50px;
  right: 5%;
  z-index: 94;
  top: calc(4em - (50px / 2));
}
.hamburger-box {
  width: 24px;
  height: 11px;
  display: inline-block;
  left: 50%;
  margin-left: -11px;
  position: absolute;
  top: 50%;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px;
  position: relative;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 24px;
  height: 2px;
  background-color: #fff;
  border-radius: 0;
  position: absolute;
}
.hamburger-inner:after,
.hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -5px;
}

.hamburger-inner:after {
  bottom: -5px;
}
.hamburger-elastic .hamburger-inner {
  top: -5px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger-elastic .hamburger-inner:before {
  top: 5px;
  -webkit-transition: opacity 0.125s ease 0.275s;
  transition: opacity 0.125s ease 0.275s;
}
.hamburger-elastic .hamburger-inner:after {
  top: 10px;
  -webkit-transition: -webkit-transform 0.275s
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger-elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 5px, 0) rotate(135deg);
  transform: translate3d(0, 5px, 0) rotate(135deg);
  -webkit-transition-delay: 75ms;
  transition-delay: 75ms;
}

.hamburger-elastic.is-active .hamburger-inner:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

.hamburger-elastic.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-270deg);
  transform: translate3d(0, -10px, 0) rotate(-270deg);
  -webkit-transition-delay: 75ms;
  transition-delay: 75ms;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 92;
  visibility: hidden;
}
.nav-active {
  visibility: visible;
  z-index: 93;
}
.nav.row {
  margin-left: 0;
  margin-right: 0;
}
.nav .row [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.nav-brand,
.nav-list {
  /*display: table-cell;*/
  float: left;
  padding: 4em 0;
  height: 100vh;
  width: 50%;
  vertical-align: middle;
  -moz-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  /*opacity: 0;*/
}
.nav-list {
  background: #589f9e;
  color: #000;
  text-align: center;
  -moz-transform: translate3d(0%, -100%, 0);
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
.nav-list-active {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*opacity: 1;*/
}
.nav-brand {
  background: #68bcbb;
  padding-top: 6em;
  -moz-transform: translate3d(0%, 100%, 0);
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
.nav-brand-active {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}
.nav-brand .content-block {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-brand .content-block p,
.nav-brand .content-block a {
  color: #000;
}
.nav-brand .list-inline {
  margin: 20px 0 0 0;
}
.nav-brand .list-inline li:not(:first-child) {
  padding-left: 1em;
}
a[href^="mailto:"] {
  word-break: break-all;
  font-size: 20px;
}
.font-20 {
  font-size: 20px;
}
.menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu-item {
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-item {
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.menu-item-active {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.menu-item:first-child {
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.menu-item:nth-child(2) {
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu-item:nth-child(3) {
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.menu-item:nth-child(4) {
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu-item:nth-child(5) {
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.menu-link {
  font-family: "millerdisplayitalic";
  font-size: 40px;
  display: inline-block;
  color: #000;
  line-height: 200%;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.menu-link:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: 0;
  width: 0;
  height: 2px;
  background: #000;
  content: "";
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu-link,
.menu-link:before {
  -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-link:hover {
  color: #000;
}
.menu-link:hover:before {
  width: 100%;
}
/*****************************************/
/****** Home Section ****************/
.section {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.home-section {
  background: url("../images/banner.jpg") no-repeat center bottom;
  background-size: cover;
  background-position-x: right;
  height: 100%;
}
.hero {
  position: relative;
}
.hero-header {
  color: #fff;
}

.title-small {
  font-family: "millerdisplayitalic";
  font-size: 2em;
  line-height: 1.5em;
}
.title-big {
  font-family: "montserratbold";
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1.1;
}

.pointer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 44px;
  border: 4px solid #589f9e;
  border-radius: 26px;
  opacity: 1;
}
.pointer:after,
.pointer:before {
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation: pointerAnimation 2s infinite;
  -moz-animation: pointerAnimation 2s infinite;
  -webkit-animation: pointerAnimation 2s infinite;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  content: "";
  display: block;
  opacity: 0;
}
.pointer:after {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-moz-keyframes pointerAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    top: 20px;
  }
}
@-webkit-keyframes pointerAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    top: 20px;
  }
}

@keyframes pointerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 20px;
  }
}
.kb_wrapper,
.carousel-inner {
  background: transparent;
}
.kb_wrapper:after {
  border: 2px solid #589f9e;
  content: "";
  display: none;
  position: absolute;
  bottom: -5em;
  left: 50%;
  height: 10em;
  z-index: 1;
}
.carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.carousel-inner > .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  height: 100vh;
  min-width: 100%;
  overflow: hidden;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  /*height: 100%;*/
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}
.carousel-indicators {
  bottom: 50px;
}
.hero-header {
  position: absolute;
  left: 5%;
  top: 50%;
  /*width: 100%;*/
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
}
/*******************************************************/
/************ About Section ****************************/
.about-section {
  position: relative;
}
.about-wrapper {
  overflow: hidden;
}
.section-base {
  padding: 7em 0;
  text-align: center;
}
.section-base:before {
  border: 2px solid #589f9e;
  content: "";
  position: absolute;
  top: -5em;
  left: 50%;
  height: 10em;
  z-index: 1;
}
.title-section {
  position: relative;
}
.title-section:before {
  content: attr(data-section);
  font-family: "millerdisplayitalic";
  font-size: calc(50px + 110 * (100vw - 480px) / 900);
  line-height: calc(50px + 110 * (100vw - 480px) / 900);
  position: absolute;
  top: 50%;
  right: -50px;
  color: #000;
  opacity: 0.1;
  -moz-transform: translate3d(30%, -50%, 0);
  -webkit-transform: translate3d(30%, -50%, 0);
  transform: translate3d(30%, -50%, 0);
  width: 200%;
  z-index: 0;
}
.about-section .title-section:before {
  right: -50%;
}
.title-section h2 {
  text-transform: capitalize;
}
.fullwidth {
  text-align: center;
  overflow: hidden;
}
.fullwidth img {
  display: block;
  position: relative;
  left: 50%;
  right: 50%;
  margin-right: -50%;
  margin-left: -50%;
  width: 100%;
}

.partners-list .partners {
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}
.partners figure {
  height: 60px;
  max-height: 60px;
  overflow: hidden;
  position: relative;
}
.partners figure img {
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/*********************************************************/
/*********** Work Section ******************************/
.work-section {
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 100px 0;
}
.work-section:before,
.work-section:after {
  content: "";
  padding-top: 7%;
  position: absolute;
  left: 0;
  right: 0;
}
.work-section:before {
  bottom: 100%;
  background-image: linear-gradient(
    -4deg,
    #141414 50%,
    rgba(37, 41, 44, 0.1) 50.1%,
    transparent 0
  );
}
.work-section:after {
  top: 100%;
  background-image: linear-gradient(
    -4deg,
    transparent 50%,
    rgba(37, 41, 44, 0.1) 0,
    #141414 50.1%
  );
}
.work-section .section-base:before {
  top: -8em;
}
.item {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  margin: 0 0 2em 0;
  /*overflow: hidden;*/
  position: relative;
  width: 80%;
}
/*[class*="col-"]:nth-child(2) .item {
	margin-left: 2em;
}
[class*="col-"]:nth-child(4) .item {
	margin-left: 3.5em;
}*/
.item[data-num]:before {
  font-family: "millerdisplayitalic";
  font-size: 100px;
  line-height: 100px;
  position: absolute;
  top: 30%;
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  content: attr(data-num);
  color: #fff;
  opacity: 0.05;
  right: -65%;
  text-transform: uppercase;
  width: 100%;
}
.item-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 20px;
}
.icon-wrapper,
.item-title {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  margin: 0;
  vertical-align: middle;
  width: auto;
}
.icon-wrapper {
  margin: 0;
  width: 50px;
}
.icon-wrapper img {
  width: 50px;
  height: 50px;
}
.icon-wrapper svg {
  color: #fff;
}

/*******************************************************/
/*********** Get In Touch Section *******************/
.client-wrapper {
  margin: 100px 0;
}
.client-wrapper .section-base:before {
  top: -9em;
}
.client-wrapper .title-section:before {
  -moz-transform: translate3d(44%, -50%, 0);
  -webkit-transform: translate3d(44%, -50%, 0);
  transform: translate3d(44%, -50%, 0);
}
.getIntouch-wrapper .section-base:before {
  top: -4.5em;
}
.getIntouch-wrapper .title-section:before {
  right: -43%;
}
.client-list-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}
.client-list-wrapper .row [class*="col-"] {
  padding-left: 20px;
  padding-right: 20px;
}
.client-list-wrapper .list-inline li {
  padding: 20px;
  min-height: 190px;
  /*max-height: 275px;*/
  overflow: hidden;
  width: 19%;
  margin-left: -4px;
  margin-bottom: -5px;
}
.client-list-wrapper .list-inline li:not(:first-child) {
  border-left: 1px solid #d8d6d6;
}
.client-list-wrapper .list-inline li:nth-child(n + 6) {
  border-top: 1px solid #d8d6d6;
}
.client-list-wrapper .list-inline li:nth-of-type(6n) {
  border-left: 0;
  clear: both;
}
.client-list-wrapper .list-inline li a {
  outline: none;
}
.client-list-wrapper .list-inline li a img {
  display: inline-block;
  transition: all 0.5s;
}
.client-list-wrapper .list-inline li a img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.webCounter {
  margin: 130px 0 0 0;
}
.webCounter li {
  overflow: hidden;
  margin: 0 30px;
}
.webCounter span {
  color: #000;
  display: block;
  font-family: "montserratbold";
  font-size: 45px;
}
.webCounter .counter {
  position: relative;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.webCounter .counter:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #ffb510;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  transition: width 0.25s ease;
  z-index: -1;
}
.webCounter .counter:hover:after {
  width: 101%;
}
.webCounter span.text {
  font-size: 22px;
  line-height: normal;
}

/* Nojata Teams Section */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3em;
}
.card {
  border-radius: 1rem;
  box-shadow: 0 1.563em 3.125em -0.75em #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 0.625em 1.563em;
}
.card p {
  font-size: 1.2em;
}
.modal-header {
  /*display: none;*/
}
.modal {
  top: 30%;
}
.modal-open {
  padding-right: 0 !important;
}
.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  /*top: 50px;*/
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  opacity: 1;
}
.modal-backdrop.in {
  opacity: 0.8;
}
.modal-content {
  border-radius: 0;
}
.close {
  float: right;
  font-family: "MontserratExtraLight";
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
  position: absolute;
  top: -50px;
  right: -10px;
  outline: none;
}
.close:focus,
.close:hover {
  color: #fff;
  opacity: 1;
}
/*******************************************************/
/*********** Get In Touch Section *******************/
.getIntouch-wrapper {
  background: #efefef url("../images/nodge.png") repeat-x 12px 0;
}
.getIntouch-wrapper .row {
  margin-left: auto;
  margin-right: auto;
}
.getIntouch-wrapper .row [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.getIntouch-wrapper .form-inline .form-control {
  border: 2px solid #c9c9c9;
  color: #a8a8a8;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  height: 60px;
  width: 98%;
}
.getIntouch-wrapper .form-inline textarea.form-control {
  margin: 10px 0 0 0;
  padding: 15px;
  height: auto;
  width: 99.2%;
  resize: none;
}
.btn-submit {
  background: #589f9e;
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.625em;
  font-weight: bold;
  padding: 0.75em;
  min-width: 8em;
  transition: box-shadow 1s;
}
.btn-submit:active,
.btn-submit:active:focus,
.btn-submit:focus {
  border: 0;
  background-color: #589f9e;
  color: #fff;
  outline: none;
}
.btn-submit:hover {
  background: #68bcbb;
  box-shadow: 0 15px 19px rgba(0, 0, 0, 0.22), 0 10px 16px rgba(0, 0, 0, 0.3);
  color: #fff;
}

/******************************************************/
/***************** Map Section *************************/

.map-container img {
  width: 100%;
}
#map {
  height: 500px;
  width: 100%;
  overflow: hidden;
  clear: both;
}

/*******************************************************/
/********* Footer Section ***************************/
.footer {
  display: table;
  width: 100%;
}
.footer .copyright-content,
.footer .social-media-block {
  display: table-cell;
  vertical-align: middle;
}
.footer p,
.footer .list-inline {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
}
.facebook,
.twitter,
.youtube {
  color: #19327f;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  transition: color 0.25s ease;
  position: relative;
}
.facebook:after,
.twitter:after,
.youtube:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #19327f;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  transition: width 0.25s ease;
  z-index: -1;
}
.twitter:after {
  background: #0dd1ff;
}
.twitter {
  color: #0dd1ff;
}
.youtube:after {
  background: #e51f1f;
}
.youtube {
  color: #e51f1f;
}
footer .facebook:hover:after,
footer .twitter:hover:after,
footer .youtube:hover:after {
  margin-left: -5px;
  width: 110%;
}
footer .facebook:hover,
footer .twitter:hover,
footer .youtube:hover {
  color: #fff;
}
.social-media-block .list-inline li:not(:last-child):after {
  content: "/";
  color: #b5b5b5;
  padding-left: 1em;
}
.fa {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fa:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.fa-facebook-f:before,
.fa-facebook:before,
.fa-twitter:before,
.fa-youtube-play:before {
  color: #fff;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .kb_caption {
    bottom: 30%;
  }
  .kb_caption .title-big {
    font-size: 4em;
  }
  .client-list-wrapper .list-inline li {
    min-height: 155px;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-inner {
    /*min-height: 800px;*/
  }
}

@media screen and (max-width: 992px) {
  [class*="col-"]:nth-child(2) .item,
  [class*="col-"]:nth-child(4) .item {
    margin-left: 0;
  }
  .item {
    width: 105%;
  }
  .width-80 {
    width: 100%;
  }
  .kb_caption .title-big {
    font-size: 3em;
  }
  .work-section:before,
  .work-section:after {
    padding-top: 11%;
  }
  .client-list-wrapper .list-inline li {
    min-height: 170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img {
    height: 100%;
  }
  .mobile {
    display: none !important;
  }
}
@media (min-width: 30em) {
  .item[data-num]:before {
    font-size: calc(100px + 100 * (100vw - 480px) / 900);
    line-height: calc(100px + 100 * (100vw - 480px) / 900);
  }
}
@media (max-width: 767px) {
  .large {
    display: none !important;
  }
  [class*="col-"]:nth-child(2) .item,
  [class*="col-"]:nth-child(4) .item {
    margin-left: 0;
  }
  .nav-active {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  .nav-brand,
  .nav-list {
    padding: 9em 0;
    float: none;
    height: auto;
    width: 100%;
  }
  .nav-list {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .nav-brand {
    -webkit-transform: translate3d(100%, 0%, 0);
    -moz-transform: translate3d(100%, 0%, 0);
    transform: translate3d(100%, 0%, 0);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .menu-item {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .nav-list-active,
  .nav-brand-active,
  .menu-item-active {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
  }
  .nav-brand .content-block,
  .menu {
    text-align: center;
    transform: none;
  }
  .width-80 {
    width: 100%;
  }
  .hero-header {
    text-align: left;
  }
  .partners-list .partners {
    width: 49%;
  }
  .partners figure {
    height: 35px;
    max-height: 35px;
  }
  .partners figure img {
    max-width: 100%;
    max-height: 35px;
    right: auto;
  }
  .work-section:before,
  .work-section:after {
    padding-top: 80px;
  }
  .client-list-wrapper .list-inline li {
    min-height: 190px;
    max-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 49%;
  }
  .client-list-wrapper .list-inline li a img {
    max-height: 160px;
  }
  .client-list-wrapper .list-inline li:nth-child(n + 3) {
    border-top: 1px solid #d8d6d6;
  }
  .client-list-wrapper .list-inline li:nth-child(2n + 1) {
    border-left: 0;
  }
  .client-list-wrapper .list-inline li:nth-of-type(6n) {
    border-left: 1px solid #d8d6d6;
    clear: both;
  }
  .getIntouch-wrapper .section-base {
    padding-bottom: 2.5em;
  }
  .about-section .title-section:before {
    right: -16%;
  }
  .section-base {
    padding-bottom: 2em;
  }
  .title-section:before,
  .getIntouch-wrapper .title-section:before {
    right: -10%;
  }
  .getIntouch-wrapper .title-section:before {
    right: -50%;
  }
  .work-section .section-base,
  .client-wrapper .section-base {
    padding-top: 4.5em;
  }
  .item {
    width: 100%;
  }
  .title-big {
    font-size: 50px;
  }
  .webCounter li {
    margin: 0 20px 20px 20px;
  }
  .getIntouch-wrapper .form-inline .form-control {
    width: 99%;
  }
  .footer p,
  .footer .list-inline,
  .footer .list-inline a {
    font-size: 14px;
  }
  .social-media-block .list-inline li:not(:last-child)::after {
    padding-left: 0.3em;
  }
  .footer .list-inline > li {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img {
    height: 100%;
  }
  .kb_wrapper,
  .kb_wrapper .item img {
    /*min-height: 300px;*/
  }
  .kb_caption .title-big {
    font-size: 2em;
    line-height: 1.3;
  }
  .kb_caption .title-small {
    font-size: 1.4em;
  }
  .title-big {
    font-size: 40px;
  }
  .font-24 {
    font-size: 18px;
  }
  .icon-wrapper {
    width: 35px;
  }
  .client-list-wrapper .list-inline li {
    max-height: 190px;
  }
  .client-list-wrapper .list-inline li a img {
    max-height: 190px;
  }
  .about-section .title-section:before {
    /*right: -27%;*/
  }
  .webCounter li {
    margin: 0 20px 30px;
  }
  .webCounter span {
    font-size: 26px;
  }
  .webCounter span.text {
    font-size: 18px;
  }
  #map .gm-style-iw {
    width: 250px !important;
  }
  .footer p,
  .footer .list-inline,
  .footer .list-inline a {
    font-size: 10px;
  }
  .social-media-block .list-inline li:not(:last-child)::after {
    padding-left: 0.3em;
  }
  .footer .list-inline > li {
    padding: 0;
  }
}
